* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#2e92da, #1cc1df,#7dca9d);
    font-family: sans-serif;
    color: white;
}

.location, .temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature{
    flex-direction: column;
}

.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span{
    margin:10px;
    font-size: 30px;
}

.degree-section h2{
    font-size:40px;
}

.suggestions > div{
    border-top: 1px solid rgba(205, 205, 206, 0.109);
    background-color: rgba(90, 90, 90, 0.315);
    padding: 10px;
    
}

.suggestions :hover{
    cursor: pointer;
    background-color: rgba(180, 180, 180, 0.315);
    
}


.button input, ::placeholder{
    background: transparent;
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px; 
    outline: none;
    
}

.button{
    background-color: rgba(180, 180, 180, 0.315);
    border-bottom: 2px solid rgba(205, 205, 206, 0.109);
    position:relative;
    
}

.container {
    border: 2px solid rgba(255, 255, 255, 0.109);
    border-radius: 5px;
    font-size: 20px;

    

   
}